extends _layout.pug

mixin stateResultTbl(state, dem, rep, other)
    tr
        td= state
        if dem > rep
            td.dem-county-win= parseInt(dem).toLocaleString()
        else 
            td= parseInt(dem).toLocaleString()
        if rep > dem 
            td.gop-county-win= parseInt(rep).toLocaleString()
        else 
            td= parseInt(rep).toLocaleString()
        td= parseInt(other).toLocaleString()

block content    
    .container
        h1.text-center #{election} Presidential Election 
        #react 
        #candidates.row
        //- .col-lg-3.text-center
        .col-lg-6.text-center
            table#national-results-table.table.table-condensed.small(style="white-space: pre-wrap")
                thead(style="font-weight:bold")
                    tr
                        td
                        td 
                            img(src="/img/obama.jpg")
                        td 
                            img(src="img/mccain.jpg")
                        //- td Other
                tbody 
                    tr 
                        td Candidate 
                        td Barack Obama 
                        td John McCain
                    tr
                        td Popular Vote
                        if results.nationalResults[0].democrat > results.nationalResults[0].republican
                            td.dem-county-win #{results.nationalResults[0].democrat.toLocaleString()}
                        else 
                            td #{results.nationalResults[0].democrat.toLocaleString()}
                        if results.nationalResults[0].democrat < results.nationalResults[0].republican
                            td.gop-county-win #{results.nationalResults[0].republican.toLocaleString()}
                        else 
                            td #{results.nationalResults[0].republican.toLocaleString()}
                        //- td #{results.nationalResults[0].other.toLocaleString()}
                    tr 
                        td Electoral Vote
                        td 269
                        td 269
                        //- td 0
            #maps.row
                #national-map.col-lg-12.text-center
        #state-results.col-lg-4.text-center
            //- h2#vote-by-state-header.text-center Results by State
            table#state-results-table.table.table-condensed.small(style="white-space: pre-wrap")
                thead(style="font-weight:bold")
                    tr
                        td State
                        td Democrat
                        td Republican
                        td Other
                tbody                        
                    each result in results.stateResults
                        +stateResultTbl(result.state, result.democrat, result.republican, result.other)
